<div id="why">
  <h3>I voted for you because...</h3>
  <%= f.text_area :why %>
</div>
<div id="critique">
  <h3>...but I would like to see a change in your position on...</h3>
  <%= f.text_area :critique %>
</div>